
@{
    ViewBag.Title = "Create";
}

<h2>Create Role</h2>

@Html.ActionLink("List Roles", "Index", "Roles") | @Html.ActionLink("Manage Roles", "ManageUserRoles", "Roles")
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        Role Name
    </div>
    <p>
        @Html.TextBox("RoleName")
    </p>
    <input type="submit" value="Save" />
}
